[submodule "terminal-themes"]
	path = terminal-themes
	url = git@github.com:thumphries/nix-terminal-themes
[submodule "private"]
	path = private
	url = git@github.com:thumphries/nix-private
[submodule "pkgs"]
	path = pkgs
	url = git@github.com:thumphries/nix-pkgs
[submodule "xalt/wm"]
	path = xalt/wm
	url = git@github.com:thumphries/xalternative
